/**
* Table of Contents
* =======================
* [1] Colors
* [2] Fonts
* [3] Spacing
* [A] Intro Page
* [B] Location pages
* [C] Green Roof Page
**/

/** 
* [1] Colors
**/
$red: #E66E74;
$blue: #4E628F;
$darkGreen: #397B72;
$lightGreen: #96D5AF;
$white: #FFF;
$black: #4A4B4F;
$tan: #ECE7C5;
$lightGrey: #D1D4DF;
$darkGrey: #7A7C82;

/** 
* [2] Fonts
**/ 
$bodyText:  'Lato', sans-serif;

/** 
* [3] Spacing
**/ 
$bottom-spacing: 20px;
$section-padding: 40px;

/**
* [A] Intro Page
**/
body {
	background-color: $lightGrey;
	font-family: $bodyText;
  color: $black;
  overflow:auto;
}
p{
	max-width: 600px;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.section {
	overflow:auto;
  	padding-top: $section-padding;
  	padding-bottom:$section-padding;
  	img	 {
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  		margin-bottom: $bottom-spacing
  	}
}
#title {
	text-align:center;
	color: $darkGreen;
	img{
		width: 300px;
		margin-top: 60px;
	}
}
#flower {
	background-color: $darkGreen;
	color: $white;
	img{
		width:150px;
	}
}
#cslphoto {
	width:100%;
}
#cslintro {
	background-color:$tan;
	color:$black;
	margin-top:-5px;
}
#explore {
	color:$white;
	background-color: $red;
	img{
		width: 110px;
	}
}

/**
* [B] Location Pages
**/
.home{
  border: 1px solid #DDD;
  width: 50px;
  height:30px;
  line-height:1.8;
  margin-top:10px;
  margin-left:10px;
  border-radius:4px;
  text-decoration:none;
  color: #666;
  float:left;
}
.data{
  border: 1px solid #DDD;
  width: 50px;
  height:30px;
  line-height:1.8;
  margin-top:10px;
  margin-right:10px;
  border-radius:4px;
  text-decoration:none;
  color: #666;
  float:right;
}

.open{
  text-align:center;
  margin-bottom:1em;
}
.hdr{
  z-index: 100;
  position:fixed;
  height:50px;
  width:100%;
  background-color:$white;
  text-align:center;
  line-height:3;
  border-bottom:1px solid $lightGrey;
}
.loc_header{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
  display:block;
  width:100%;
  height:0;
  padding-top:15%;
  padding-bottom:25%;
  margin-bottom:3em;
}
.topic {
	background-color: $white;
	width: 300px;
	height: 400px;
	margin-bottom: 25px;
  border-radius: 6px;
  overflow:hidden;
  border:1px solid $lightGrey;
  .topic_img{
    overflow: visible;
    display:inline-block;
    width:100%;
    background-image: url('../images/csl.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    height:150px;
    border-bottom:1px solid $lightGrey;
    img{
      width: 50px;
      display: block;
      border:1px solid $lightGrey;
      border-radius:6px;
      margin-top:110px;
      margin-left:auto;
      margin-right:auto;
    }
  }
  h3{
    text-align:center;
    font-size: 1em;
    margin-bottom:12px;
  }

}
.list {
  padding-top: 10px;
  display:block;
  width:300px;
  margin-left:auto;
  margin-right:auto;}
.answers{
  margin-top:10px;
  div{
    margin-bottom:10px;
    overflow:auto;
    button{
      background-color:$white;
      float:left;
      margin-left: 20px;
      width: 120px;
      height:20px;
      line-height:0px;
      text-align:center;
      border:1px solid $lightGrey;
      border-radius:10px;
    }
    button:hover{
      background-color:$lightGrey;
    }
}
}
/**
* [C] Green Roof Page
**/
#green_roof{
  background-image: url("../pattern/greenroof.png");
  .loc_header{
    background-image: url("../images/greenroof.jpg");
  }
}

/**
* [D] Interior Page
**/
#interior{
  background-image: url("../pattern/interior.png");
  .loc_header{
    background-image: url("../images/interior.jpg");
  }

}
/**
* [E] Landscape Page
**/
#landscape{
  background-color: $white;
  background-image: url("../pattern/landscape.png");
  .loc_header{
    background-image: url("../images/landscape.jpg");
  }
}


nav {
  padding-top: 3em;
  width: 95%;
  margin-left:2.5%;
}
nav ul {
  list-style: none;
  overflow: hidden; 
  padding-left: 0px;}
nav ul li {
  float: left;
  width: 33%; }
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover{
  text-decoration: none;
}
nav ul li a {
  text-decoration: none;
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 90%;
  margin-left:5%;
  border: 0.5px solid $darkGrey;
  background-color: $white;
  color: $darkGrey;
  border-radius:8px;

  }
nav ul li a:hover{
    color:$white;
  background-color:$darkGrey;
}
.not-active {
   pointer-events: none;
   cursor: default;
   background-color:$darkGrey;
   color:$white;
}





