/**
* Table of Contents
* =======================
* [1] Colors
* [2] Fonts
* [3] Spacing
* [A] Intro Page
* [B] Location pages
* [C] Green Roof Page
**/

/** 
* [1] Colors
**/
$red: #E66E74;
$blue: #4E628F;
$darkGreen: #397B72;
$lightGreen: #96D5AF;
$white: #FFF;
$black: #4A4B4F;
$tan: #ECE7C5;
$lightGrey: #D1D4DF;
$darkGrey: #7A7C82;

/** 
* [2] Fonts
**/ 
$bodyText:  'Lato', sans-serif;

/** 
* [3] Spacing
**/ 
$bottom-spacing: 20px;
$section-padding: 40px;

/**
* [A] Intro Page
**/
body {
	background-color: $lightGrey;
	font-family: $bodyText;
  color: $black;
}
p{
	max-width: 600px;
	width: 90%;
	margin-left:auto;
	margin-right:auto;
	padding:10px;
}
.section {
	overflow:auto;
  	padding-top: $section-padding;
  	padding-bottom:$section-padding;
  	img	 {
  		margin-left: auto;
  		margin-right: auto;
  		display: block;
  		margin-bottom: $bottom-spacing
  	}
}
#title {
	text-align:center;
	color: $darkGreen;
	img{
		width: 300px;
		margin-top: 60px;
	}
}
#flower {
	background-color: $lightGreen;
	color: $white;
	img{
		width:150px;
	}
}
#cslphoto {
	width:100%;
}
#cslintro {
	background-color:$tan;
	color:$black;
	margin-top:-5px;
}
#explore {
	color:$white;
	background-color: $red;
	img{
		width: 110px;
	}
}

/**
* [B] Location Pages
**/
.loc_header{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size:100%;
  display:block;
  width:100%;
  height:0;
  padding-top:15%;
  padding-bottom:30%;
  h2{
    font-size:1em;
    text-align:center;
    color: $black;
    background-color:$white;
    width:6em;
    height:6em;
    line-height:6;
    margin-left:auto;
    margin-right:auto;
    border-radius:4em;
  }
  margin-bottom:3em;
}
.topic {
	background-color: $white;
	width: 300px;
	height: 400px;
	margin-bottom: 10px;
  border-radius: 6px;
  overflow:hidden;
  border:0.5px solid $lightGrey;
  img{
    width: 300px;
  }
  h3{
    text-align:center;
    font-size: 1em;
    margin-bottom:12px;
  }

}
.list {
  padding-top: 10px;
  display:block;
  width:300px;
  margin-left:auto;
  margin-right:auto;}
.answers{
  div{
    margin-bottom:10px;
    overflow:auto;
    button{
      background-color:$white;
      float:left;
      margin-left: 20px;
      width: 120px;
      height:20px;
      line-height:0px;
      text-align:center;
      border:1px solid $lightGrey;
      border-radius:10px;
    }
    button:hover{
      background-color:$lightGrey;
    }
}
}
/**
* [C] Green Roof Page
**/
#green_roof{
  background-color:$white;
  .loc_header{
    background-image: url("../images/greenroof.jpg");
  }
}

/**
* [D] Interior Page
**/
#interior{
  background-color:$white;
  .loc_header{
    background-image: url("../images/atriumroof.jpg");
  }

}
/**
* [E] Landscape Page
**/
#landscape{
  .loc_header{
    background-image: url("../images/landscape.jpg");
  }
  background-color:$white;
}


.ui-bar, .ui-body {
    position: relative;
    padding: .4em 15px;
    overflow: hidden;
    display: block;
    clear: both;
}

nav {
  width: 100%;
  margin: 20px 0; }
nav ul {
  list-style: none;
  overflow: hidden; 
  padding-left: 0px;}
nav ul li {
  float: left;
  width: 33%; }
nav ul li a {
  text-align: center;
  padding: 8px 0;
  display: block;
  width: 100%;
  background: #cdeb8e; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #cdeb8e 0%, #b0ca34 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#cdeb8e), 
    color-stop(100%,#b0ca34)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #cdeb8e 0%,#b0ca34 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #cdeb8e 0%,#b0ca34 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#cdeb8e', 
    endColorstr='#b0ca34',GradientType=0 ); /* IE6-9 */
  }
nav ul li a,
nav ul li a:focus,
nav ul li a:visited,
nav ul li a:hover,
nav ul li a:active {
  color: #000;
  text-decoration: none; }
nav ul li a:hover,
nav ul li a:active {
  background: #b0ca34; /* Old browsers */
  background: -moz-linear-gradient(top,  
    #b0ca34 0%, #96c40d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, 
    color-stop(0%,#b0ca34), 
    color-stop(100%,#96c40d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  
    #b0ca34 0%,#96c40d 100%); /* Opera 11.10+ */
  background: linear-gradient(to bottom,  
    #b0ca34 0%,#96c40d 100%); /* W3C, IE10+ */
  filter: progid:DXImageTransform.Microsoft.gradient( 
    startColorstr='#b0ca34', 
    endColorstr='#96c40d',GradientType=0 ); /* IE6-9 */
  }
nav ul li:first-child a {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px; }
nav ul li:last-child a {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px; }






